body {
    background-color: #f4f7fa;
    height: 100vh;
    justify-content: center;
    font-family:"WDXL Lubrifont SC";
}

@font-face {
    font-family: "WDXL Lubrifont SC";
    src: url(WDXLLubrifontSC-Regular.ttf) format("truetype");
}
    
.robo-model {
    height: 75%;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
}
    
model-viewer {
    height: 100%;
    width: 100%;
}

.header {
    text-align: center;
    font-size: xxx-large;
}

.back {
    font-size: larger;
    padding-left: 2%;
    padding-top: 0.4%;
}

.info {
    font-size: x-large;
    padding-right: 1%;
    padding-left: 1%;
    width: 10%;
}

.container {
    display: flex;
    align-items: center;
}

.pins {
    text-align: left;
    padding-left: 2%;
}

.ansicht {
    text-align: right;
    padding-right: 2%;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: x-large;
    padding-bottom: 2%;
}

